.tabs {
    display: flex;
    justify-content: space-between;
}

.tab {
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

.tab:hover {
    background-color: #777;
    cursor: pointer;
}

.tab-active {
    background-color: #77C5FF;
}