.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
}

@media (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}